In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_csv('googleplaystore.csv')

In [3]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
df.drop('App', axis=1, inplace=True)

In [5]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

# Installs

In [6]:
df['Installs'].head()

0        10,000+
1       500,000+
2     5,000,000+
3    50,000,000+
4       100,000+
Name: Installs, dtype: object

In [7]:
df['Installs'] = df['Installs'].apply(lambda x: x.replace("+", "") if x[-1] == "+" else x)

In [8]:
df['Installs'].head()

0        10,000
1       500,000
2     5,000,000
3    50,000,000
4       100,000
Name: Installs, dtype: object

In [9]:
df['Installs'] = df['Installs'].apply(lambda x: x.replace(',', ''))

In [10]:
df['Installs'].head()

0       10000
1      500000
2     5000000
3    50000000
4      100000
Name: Installs, dtype: object

In [11]:
df['Installs'][df['Installs'] == 'Free'].count()

1

In [12]:
df['Installs'] = df['Installs'].apply(lambda x: x.replace('Free', '0') if x == "Free" else x)

In [13]:
df['Installs'] = df['Installs'].apply(lambda x: int(x))

In [14]:
df['Installs'].dtype

dtype('int64')

# Type

In [15]:
df['Type'].head()

0    Free
1    Free
2    Free
3    Free
4    Free
Name: Type, dtype: object

In [16]:
df['Type'][df['Type'] == 'Paid']

234      Paid
235      Paid
290      Paid
291      Paid
427      Paid
         ...
10735    Paid
10760    Paid
10782    Paid
10785    Paid
10798    Paid
Name: Type, Length: 800, dtype: object

In [17]:
df['Type'][df['Type'] == "Free"]

0        Free
1        Free
2        Free
3        Free
4        Free
         ...
10836    Free
10837    Free
10838    Free
10839    Free
10840    Free
Name: Type, Length: 10039, dtype: object

In [18]:
df['Type'] = df['Type'].apply(lambda x: x.replace("Free" , "0") if x == "Free" else x)

In [19]:
df['Type'] = df['Type'].apply(lambda x: x.replace("Paid",  "1") if x == "Paid" else x)

In [20]:
df['Type'][df['Type'] == "1"]

234      1
235      1
290      1
291      1
427      1
        ..
10735    1
10760    1
10782    1
10785    1
10798    1
Name: Type, Length: 800, dtype: object

In [21]:
df['Type'][df['Type'] == "0"]

0        0
1        0
2        0
3        0
4        0
        ..
10836    0
10837    0
10838    0
10839    0
10840    0
Name: Type, Length: 10040, dtype: object

In [22]:
df['Type'].isna().sum()

1

In [23]:
df['Type'].mode()

0    0
dtype: object

In [24]:
df['Type'].fillna("0", inplace=True)

In [25]:
df['Type'].isna().sum()

0

In [26]:
df['Type'] = df['Type'].apply(lambda x: int(x))

In [27]:
df['Type'][df['Type']== 1]

234      1
235      1
290      1
291      1
427      1
        ..
10735    1
10760    1
10782    1
10785    1
10798    1
Name: Type, Length: 800, dtype: int64

In [28]:
df['Type'][df['Type'] == 0]

0        0
1        0
2        0
3        0
4        0
        ..
10836    0
10837    0
10838    0
10839    0
10840    0
Name: Type, Length: 10041, dtype: int64

# Price

In [29]:
df['Price'].head()

0    0
1    0
2    0
3    0
4    0
Name: Price, dtype: object

In [30]:
df['Price'][df['Price'] == "$4.99"]

234      $4.99
235      $4.99
290      $4.99
291      $4.99
995      $4.99
         ...
10046    $4.99
10047    $4.99
10050    $4.99
10051    $4.99
10052    $4.99
Name: Price, Length: 72, dtype: object

In [31]:
df['Price'] = df['Price'].apply(lambda x: x.replace("$", "") if x[0] == "$" else x)

In [32]:
df['Price'][df['Price'] == "4.99"]

234      4.99
235      4.99
290      4.99
291      4.99
995      4.99
         ...
10046    4.99
10047    4.99
10050    4.99
10051    4.99
10052    4.99
Name: Price, Length: 72, dtype: object

In [33]:
df['Price'][df['Price'] == "Everyone"].count()

1

In [34]:
df['Price'] = df['Price'].apply(lambda x: x.replace("Everyone", "0") if x == "Everyone" else x)

In [35]:
df['Price'].isna().sum()

0

In [36]:
df['Price']= df['Price'].apply(lambda x: float(x))

In [37]:
df['Price'][234:292]

234    4.99
235    4.99
236    0.00
237    0.00
238    0.00
239    0.00
240    0.00
241    0.00
242    0.00
243    0.00
244    0.00
245    0.00
246    0.00
247    0.00
248    0.00
249    0.00
250    0.00
251    0.00
252    0.00
253    0.00
254    0.00
255    0.00
256    0.00
257    0.00
258    0.00
259    0.00
260    0.00
261    0.00
262    0.00
263    0.00
264    0.00
265    0.00
266    0.00
267    0.00
268    0.00
269    0.00
270    0.00
271    0.00
272    0.00
273    0.00
274    0.00
275    0.00
276    0.00
277    0.00
278    0.00
279    0.00
280    0.00
281    0.00
282    0.00
283    0.00
284    0.00
285    0.00
286    0.00
287    0.00
288    0.00
289    0.00
290    4.99
291    4.99
Name: Price, dtype: float64

In [38]:
df['Price'][234:292]

234    4.99
235    4.99
236    0.00
237    0.00
238    0.00
239    0.00
240    0.00
241    0.00
242    0.00
243    0.00
244    0.00
245    0.00
246    0.00
247    0.00
248    0.00
249    0.00
250    0.00
251    0.00
252    0.00
253    0.00
254    0.00
255    0.00
256    0.00
257    0.00
258    0.00
259    0.00
260    0.00
261    0.00
262    0.00
263    0.00
264    0.00
265    0.00
266    0.00
267    0.00
268    0.00
269    0.00
270    0.00
271    0.00
272    0.00
273    0.00
274    0.00
275    0.00
276    0.00
277    0.00
278    0.00
279    0.00
280    0.00
281    0.00
282    0.00
283    0.00
284    0.00
285    0.00
286    0.00
287    0.00
288    0.00
289    0.00
290    4.99
291    4.99
Name: Price, dtype: float64

# Content Rating

In [39]:
df['Content Rating'][234:300]

234           Everyone
235           Everyone
236           Everyone
237           Everyone
238           Everyone
            ...
295           Everyone
296           Everyone
297               Teen
298    Adults only 18+
299               Teen
Name: Content Rating, Length: 66, dtype: object

In [40]:
df['Content Rating']

0          Everyone
1          Everyone
2          Everyone
3              Teen
4          Everyone
            ...
10836      Everyone
10837      Everyone
10838      Everyone
10839    Mature 17+
10840      Everyone
Name: Content Rating, Length: 10841, dtype: object

In [41]:
df['Content Rating'] = df['Content Rating'].apply(lambda x: x.replace('Everyone', '1') if x == 'Everyone' else x)

In [42]:
df['Content Rating'].head()

0       1
1       1
2       1
3    Teen
4       1
Name: Content Rating, dtype: object

In [43]:
df['Content Rating'] = df['Content Rating'].apply(lambda x: x.replace("Teen", "10") if x == "Teen" else x)

In [44]:
df['Content Rating'] = df['Content Rating'].apply(lambda x: x.replace("Mature 17+", "17") if x == "Mature 17+" else x)

In [45]:
df['Content Rating'] = df['Content Rating'].apply(lambda x: x.replace("Adults only 18+", "18") if x == "Adults only 18+" else x)

In [46]:
df['Content Rating'].isna().sum()

1

In [47]:
df['Content Rating'].fillna(1, inplace=True)

In [48]:
df['Content Rating'].isna().sum()

0

In [49]:
df['Content Rating'] = df['Content Rating'].apply(lambda x: x.replace("Everyone 10+", "11") if x == "Everyone 10+" else x)

In [50]:
df['Content Rating'] = df['Content Rating'].apply(lambda x: x.replace("Unrated", "1") if x == "Unrated" else x)

In [51]:
df['Content Rating'] = df['Content Rating'].apply(lambda x: int(x))

In [52]:
df['Content Rating'].dtype

dtype('int64')